* {
    margin: 0;
}

#accordion {
    margin: 20px;
}

.section-header {
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.section-content {
    display: none;
}